
.greenShade::after{
    background-color: #f1fcfa;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

@media (min-width: 1280px) {
    .greenShade::after{
        right: 20%;
    }
}